
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Minesweeper Marathon</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id='gameWindow'>
    <div id='board'>
      <h1>Welcome to Minesweeper Marathon!</h1>
      <h2>A game of </h2>

      <h1>Get ready.. Set..</h1>
      <div class="tile" id="startGameButton">GO!</div>
    </div>
  </div>



  <!-- <%= javascript_include_tag "visitors.js" %> -->
  <%= javascript_include_tag "game.js" %>


</body>
</html>
