
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>Minesweeper Marathon</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->
  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

</head>
<body>
  <div id='gameWindow'>
    <div id='board'>
      <h1>Welcome to Minesweeper Marathon!</h1>
      <h2>A game of tequnique, speed, and chance</h2>
      <h3>your objectives</h3>
      <div id="objectives"></div>
        <ul>
          <li>Click All The Tiles That Aren't Bombs</li>
          <li>DON'T Click The Bombs!!</li>
          <li>The Numbers On The Tiles Indicate How Many Adjacent Bombs There Are</li>
          <li>Good Luck!</li>
        </ul>
      <h1>Get ready.. Set..</h1>
      <div class="tile" id="startGameButton">GO!</div>
    </div>
  </div>

  <%= javascript_include_tag "game.js" %>

</body>
</html>
