// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$color1: rgb(260, 260, 300);
$color1-hover: rgb(240, 240, 240);
$color2: rgba(30, 120, 140, .7);
$color2-hover: rgba(30, 120, 140, .8);
$shadow: rgba(120,120,120,0.5);
$shadow-light: rgba(150, 150, 150, 0.3);

$hud-height: 58px;
$tile-dimension: 58px;


body {
  background-color: $color2;
  background: $color1;
  background: -webkit-linear-gradient($color1, $color2);
  background: -o-linear-gradient($color1, $color2);
  background: -moz-linear-gradient($color1, $color2);
  background: linear-gradient($color1, $color2);
  font-family: 'Titillium Web', sans-serif;

  height: 98vh;
}
#gameWindow {
  width: 100%;

  background-color: rgba(220, 220, 220, .4);
  border: 1px solid #fff;

  text-align: center;

  -webkit-box-shadow: 2px 2px 8px 2px $shadow;
  -moz-box-shadow: 2px 2px 8px 2px $shadow;
  box-shadow: 2px 2px 8px 2px $shadow;
}
// accent shadows
.tile, #toggle-flag-btn, #reset-btn, #tile-counter{
  -webkit-box-shadow: 2px 2px 8px 2px $shadow-light;
  -moz-box-shadow: 2px 2px 8px 2px $shadow-light;
  box-shadow: 2px 2px 8px 2px $shadow-light;
}
#scrollDiv{
    overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 78vh;
    max-width: 90vw;
}
#hud {
  display: block;
  overflow: scroll;
  margin-bottom: 10px;
  #hud-Display{

  }
  #hud-buttons{

  }
}
.timer, #tile-counter {
  display: inline-block;
  margin: 1px 0 1px 0;
  height: $tile-dimension;
}
.timer {
  width: 240px;
  background-color: $color2;
  font-size: 36px;
  line-height: $tile-dimension;
  color: $color1;
}
#tile-counter {
  width: 118px;
  font-size: 30px;
  background-color: $color1;
}
#toggle-flag-btn,
#reset-btn {
  display: inline-block;
  width: 290px;
  color: $color1;
  background-color: $color2;
  border: 1px solid $color1;
  padding: 4px;
}
#toggle-flag-btn:hover,
#reset-btn:hover {
  background-color: $color2-hover;
  border: 1px solid $color1-hover;
  color: $color1-hover;
}
#board {
  display: inline-block;
  min-width: 600px;
  height: 100%;
  background-color: rgb(230, 230, 230);
  background-color: transparent;
  padding: 1px;
  margin: 20px;
}
#tilesLeftCounter {
  color: rgb(68, 125, 57);
}
#flagsLeftCounter{
  color: rgb(186, 24, 24);
}
.row{
  // display: inline-block;
  display: block;
  line-height: $tile-dimension;
  font-size: 30px;
  color: $color1;
}
.tile {
  display: inline-block;
  margin: 1px;

  width: $tile-dimension;
  height: $tile-dimension;

  // border: 1px solid #fff;

  background-color: $color1;
  text-align: center;

  &#startGameButton{
    color: #000000;
    vertical-align: center;
    line-height: $tile-dimension;
    font-size: 30px;
  }
}
.tile:hover {
  background-color: $color1-hover;
}
/*order is important, before tileHidden & other tile properties*/
.tile-hidden {
  color: transparent;
  // color: #000000;
}
.tile-bomb {
  color: transparent;
  background-color: rgb(163, 0, 0);
}
.tile-0 {
  background-color: rgb(60, 170, 80);
}
.tile-1 {
  background-color: rgb(0, 150, 224);
}
.tile-2 {
  background-color: rgb(20, 140, 204);
}
.tile-3 {
  background-color: rgb(40, 130, 184);
}
.tile-4 {
  background-color: rgb(60, 120, 164);
}
.tile-5 {
  background-color: rgb(80, 110, 144);
}
.tile-6 {
  background-color: rgb(100, 100, 124);
}
.tile-7 {
  background-color: rgb(120, 90, 104);
}
.tile-8 {
  background-color: rgb(140, 80, 84);
}

.flagged {
  background-color: rgb(50, 50, 50);
}

@media screen and (min-width: 256px) {
  $tile-dimension: 10vw;
  .tile{
    // background-color: green;
  }
}
